form{
    color: white;
    background-color: #323333;
    width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #7e8585;
}

label, input, span{
    display: block;
    margin-bottom: 10px;
}



